<div>
  <button mat-button [matMenuTriggerFor]="menu">Menu principal</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/"  >Slider</button>
    <button mat-menu-item routerLink="/card">Card</button>
    <button mat-menu-item routerLink="card">Card</button>
    <button mat-menu-item routerLink="input">Input</button>
    <button mat-menu-item routerLink="observable">Observable</button>
    <button mat-menu-item routerLink="form">Ejemplo Formulario</button>
</mat-menu>
</div>